# Dependencies
node_modules
.pnpm-store

# Build output
dist
.astro

# IDEs/Environments
.vercel
.env
.env.*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files
Thumbs.db
desktop.ini
